<div class="col-md-12" style="margin-bottom:30px;">
  <h3>Other polls</h3>
  <div ng-repeat="poll in allPolls">
    <a ng-href='/#/polls/{{poll._id}}'>{{poll.title}}</a>
  </div>
</div>    

<hr>

<div class="col-md-6 col-md-offset-5" ng-show="isLoggedIn()">
  <form ng-submit="createPoll()" style="margin-top:30px;">
    
    <h3>Add a new poll</h3>
    
    <div class="form-group">
      <p>Title</p>
      <input type="text" ng-model="title" placeholder="Enter a title for the poll">
    </div>
    
    Choices
    <div class="form-group" data-ng-repeat="choice in choices">
      <label for="choice" ng-show="showChoiceLabel(choice)">Choices</label>
      <input type="text" ng-model="choice.name" placeholder="Enter a choice">
    </div>
    
    <div class="btn btn-success" ng-click="addNewChoice()">Add a new choice</div>
    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
</div>

<div class="col-md-6 col-md-offset-4" ng-hide="isLoggedIn()">
   <h1>Sign up or Login to start voting!</h1>
</div>

<ui-sref></ui-sref>